/Assets/Plugins/Sirenix
/Assets/Texture/Cards/Images
/Assets/Texture/Cards/Card-front
/Assets/MHLab
/Library
/Logs
/obj
/Recordings
/ServerData
/Video
/.idea
/Builds
/VideoCaptureLib_Log.txt
/Temp
/Screenshots
/*.csproj
/*.sln
/Assets/Plugins/Sirenix/Assemblies/AOT.meta
/Assets/Plugins/Sirenix/Assemblies/AOT
/Unity.sln.DotSettings.user
/.vs/Unity/v16/.suo
/Assets/FR2_Cache.asset
/Assets/FR2_Cache.asset.meta
/bundletool/*.aab
/bundletool/*.apks
/bundletool/*.apk
/ProjectSettings/AndroidLogcatSettings.asset
/UserSettings/AndroidLogcatSettings.asset
